# Copia questo file in ".env" e modifica i valori.

# Porta del server
PORT=3000

# Codice per inviare comunicazioni. CAMBIALO con qualcosa di lungo!
# Esempio buono: una frase o stringa casuale di 20+ caratteri.
ADMIN_CODE=2317
